* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  body {
    background: #ffffff;
    width: 100%;
    font-family: "Open Sans", sans-serif;
  }

  .menuPrincipal,
.sliderPrincipal,
main,
.piePagina {
  background: #fff;
  color: #fff;
  width: 95%;
  margin: 0 auto;
}
.menuPrincipal {
  background-color: #06052c;
  text-align: center;
  padding-top: 25px;
  height: 60px;
}
.menuPrincipal a {
  text-decoration: none;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  padding: 5px 70px;
  color: rgb(255, 255, 255);

  font-weight: bold;
}
.menuPrincipal h4 {
  text-decoration: none;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  display: inline-block;
  padding: 5px 70px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.menuPrincipal a:hover {
  background-color: #ffb700;
  padding: 5px 67px;
  color: #06052c;
  transition: 1s;
}

.piePagina {
    background-color: #83897d;
    color: rgb(0, 0, 0);
  }
  
  .piePagina h6 {
    text-align: center;
    padding: 2em 0;
  }
  aside {
    width: 15%;
    height: 700px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    margin-left: 2.5%;
    float: left;
    background-color: #06052c;
  }
  
  aside img {
    width: 75%;
    margin-left: 30px;
  }
  
  .menuLateral li a {
    text-decoration: none;
    text-align: center;
    font-family: "Almarai", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    line-height: 6;
    display: inline;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  .menuLateral li {
    list-style: none;
    text-align: center;
  }
  .menuLateral a:hover {
    background-color: #ffb700;
    color: #06052c;
    padding: 10px 27px;
    transition: 1s;
  }