/* App estilos */

.app {
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-areas:
    "navi head"
    "navi main"
    "foot foot";

    grid-template-columns: 15rem auto;
    grid-template-rows: 3.75rem auto 5rem;
}

.app > .menuPrincipal {
    grid-area: head;
}

.app > .aside {
    grid-area: navi;
}

.app > .contendor-principal {
    grid-area: main;
}

.app > .piePagina {
    grid-area: foot;
    background-color: #3f5ec4;
}

.contenedor {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.titulo-principal {
    font-size: 2rem;
    font-weight: bold;
    color: #06052c;
    text-align: center;
    margin-bottom: 2rem;
}